<header
         id="mainheader">
    <a href="/{{locale}}">
        <img alt="logo"
             src="{{ template_uri() }}/assets/images/visit_logo.png"/>
    </a>
    {% include '@Visit/header/_navigation.html.twig' %}
    {% include '@Visit/header/_languages_select.html.twig' %}
    {% include '@Visit/header/_icones_social.html.twig' %}
</header>