<header class="fixed top-0 right-0 left-0 flex justify-end items-center p-3 bg-home-color bg-opacity-60 z-20"
        x-data="searchXl" id="mainheader">
    <a href="/{{locale}}" class="flex grow shrink-0 xl:mr-auto">
        <img class="h-10 w-16 xl:h-14 xl:w-24 inline" alt="logo"
             src="{{ template_uri() }}/assets/tartine/visit_logo.png"/>
    </a>
    {% include '@VisitTail/header/_navigation.html.twig' %}
    {% include '@VisitTail/header/_languages_select.html.twig' %}
    {% include '@VisitTail/header/_icones_social.html.twig' %}
    {% include '@VisitTail/header/xl/_popup_search.html.twig' %}
</header>