<ul class="list-none">
    <li class="relative group">
        <a href="#" class="inline-flex items-center gap-1 px-2 py-1 text-sm font-medium text-gray-600 hover:text-gray-900 transition-colors">
            FR
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="size-4">
                <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"/>
            </svg>
        </a>
        <ul class="list-none invisible group-hover:visible opacity-0 group-hover:opacity-100 absolute right-0 top-full mt-1 w-20 bg-white rounded-md shadow-lg ring-1 ring-black/5 py-1 transition-all duration-150 z-50">
            <li>
                <a href="/fr" class="block px-4 py-1.5 text-sm text-gray-700 hover:bg-gray-100">FR</a>
            </li>
            <li>
                <a href="/nl" class="block px-4 py-1.5 text-sm text-gray-700 hover:bg-gray-100">NL</a>
            </li>
            <li>
                <a href="/en" class="block px-4 py-1.5 text-sm text-gray-700 hover:bg-gray-100">EN</a>
            </li>
        </ul>
    </li>
</ul>
