<nav class="hidden lg:block">
    <ul class="flex items-center gap-1 list-none" id="navigationTop">
        <li class="lg:hidden">
            <label for="checkboxMenu">
                <button name="menu" class="p-2 text-gray-600 hover:text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
                <span class="sr-only">{{ 'menu.name'|trans }}</span>
            </label>
        </li>
        {% include '@Visit/header/_nav_items.html.twig' %}
    </ul>
</nav>
