<nav class="hidden lg:block" aria-label="{{ 'menu.name'|trans }}">
    <ul class="flex items-center gap-1 list-none" id="navigationTop">
        {% include '@Visit/header/_nav_items.html.twig' %}
    </ul>
</nav>
