<nav class="xl:h-8 musshadow fixed bottom-0 top-auto right-0 left-0 xl:static xl:shadow-none">
    <ul class="grid grid-cols-5 items-center font-semibold justify-evenly bg-caractere xl:bg-transparent text-white xl:flex xl:items-start xl:gap-6 xl:font-semibold"
        id="navigationTop"
        >
        <li
                class="xl:hidden btn-vivre">
            <label for="checkboxMenu" class="xl:hidden icon-menu-mobile cursor-pointer">
                <button name="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
                <span class="text-menu-mobile">{{ 'menu.name'|trans }}</span>
            </label>
        </li>
        {% include '@Visit/header/xl/_nav_items_xl.html.twig' %}
    </ul>
</nav>
