<div class="wrap">

    <div id="icon-options-general" class="icon32"><br /></div>

    <h2>Système de tri des articles</h2>

    <p><a href="{{ urlNews }}">Trier les actus de la page principale du site</a></p>
    <p>Le lien pour trier les articles pour une catégorie, se trouve dans l'affichage de cette dernière côté visiteur</p>
    <p>Pour sélectionner sous quel ordre les articles d'une rubrique doivent s'afficher, il faut aller dans l'édition de celle-ci </p>
</div>
