{% if offer.idcirkwi != null %}
    <div class="m-4 flex flex-col">
        <h3 class="text-lg text-cta-dark p-6 font-montserrat-semi-bold">Consultation sur l’application Cirkwi</h3>
        <details class="border border-cta-dark/2 op2en:bg-cta-dark o2pen:text-white ">
            <summary class="flex items-center cursor-pointer h-12 xl:h-14 m-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
                <span class="px-6 font-montserrat-semi-bold">
          L’application Cirkwi est déjà installée sur le téléphone avec lequel vous consultez ce site ?
        </span>
            </summary>
            <span class="px-6 p-3">
         <a href="https://ws.cirkwi.com/ul/c/{{ offer.idcirkwi }}?stores" target="_blank"
            class="underline decoration-dotted" rel="nofollow">
      Cliquez pour visualiser la fiche directement dans l’application Cirkwi.
         </a>
        <br/>
        Il vous suffit ensuite de cliquer sur le bouton « Embarquer » pour pouvoir consulter ce
      parcours sans connexion.
        </span>
            <br><br>
        </details>
        <details class="border border-cta-dark/2 open:bg-cta-d2ark open:tex2t-white ">
            <summary class="flex items-center cursor-pointer h-12 xl:h-14 m-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
                <span class="px-6 font-montserrat-semi-bold">
          L’application Cirkwi est déjà installée sur le téléphone avec lequel vous consultez ce site ?
        </span>
            </summary>
            <span class="px-6 p-3">
      Pour scanner ce QR Code, utilisez une application dédiée.<br>
      L’application Cirkwi doit être préalablement installée sur votre téléphone.<br>
      Une fois scannée, la fiche du parcours s’ouvrira directement dans l’application Cirkwi.<br>
       <a href="https://ws.cirkwi.com/ul/c/{{ offer.idcirkwi }}?stores" target="_blank"
          class="underline decoration-dotted" rel="nofollow">
         Il vous suffit ensuite de cliquer ici pour pouvoir consulter ce parcours sans connexion.</a>
      </span>
            <br><br>
        </details>
        <details class="border border-cta-dark/2 op2en:bg-cta-dark open:tex2t-white ">
            <summary class="flex items-center cursor-pointer  h-12 xl:h-14 m-3">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
                </svg>
                <span class="px-6 font-montserrat-semi-bold"> Vous n’avez pas encore installé l’application Cirkwi sur votre téléphone ?</span>
            </summary>

            <div class="px-6 p-3">
                <div class="flex flex-col gap-4">
                    <a href="https://play.google.com/store/apps/details?id=com.cirkwi.pit" target="_blank"
                       class="flex flex-row gap-4" rel="nofollow">
                        <img
                                class="w-6"
                                alt="logo Google Play"
                                src="https://un.cirkwi.com/image/graphisme/google_play.png">
                        <span>Télécharger sur Google Play</span>
                    </a>
                    <a
                            href="https://geo.itunes.apple.com/fr/app/cirkwi/id651471914?mt=8&amp;uo=6"
                            target="_blank" class="flex flex-row gap-4" rel="nofollow">
                        <img
                                class="w-6"
                                alt="Logo App Store"
                                src="https://un.cirkwi.com/image/graphisme/app_store.png">
                        <span>Télécharger sur App Store</span>
                    </a>
                </div>
            </div>
        </details>
    </div>
{% endif %}
