{% if offer.images|length > 1 %}
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for media in offer.images %}
                <div class="swiper-slide">
                    <img src="{{ media }}" alt="orange tree" loading="lazy"/>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% elseif offer.images|length > 0 %}
    <img src="{{ offer.images[0] }}" alt="orange tree" loading="lazy"/>
{% endif %}
