
<div>
    {% for item in data.items %}
        {% if item.data|pivot_check_display %}
            <div>
                <span>
                    {{ item.definition.labelByLanguage(locale) }}
                </span>
                <span>
                    {{ item.data|format_pivot_value|raw }}
                </span>
            </div>
        {% endif %}
    {% endfor %}
</div>