{% if filters|length > 1 %}
    <ul class="hidden xl:flex pt-6 flex-1 flex-wrap gap-2 w-3/5 my-2 mx-auto">
        {% for item in filters %}
            <li class="rounded-md shadow-lg border border-cta-dark p-3 font-montserrat-light  hover:bg-cta-dark hover:text-white">
                <a href="{{ item.url }}"
                   class="p-3">
                    {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
