<ul class="pt-2 xl:pt-6 grid grid-cols-1 gap-1 xl:gap-2 xl:grid-cols-2 my-2">
    {% for item in offres %}
        <li class="group rounded-md shadow-md">
            <a href="{{ item.url }}" class="flex">
                <div
                        class="flex shrink-0 items-center justify-center rounded-l-md transition-all duration-500  group-hover:opacity-75"
                >
                    <img src="{{ item.image }}" alt="img" class="h-28 w-28"/>
                </div>
                <div class="rounded-r-md border-t border-r border-b border-gray-200 bg-white w-full">
                    <div class="flex h-full flex-col justify-between px-4 py-4 text-sm">
                        <span class="block font-montserrat-semi-bold text-caractere group-hover:text-cta-light">
                            {{ item.name }}
                        </span>
                        <p class="block font-montserrat-light text-caractere">
                            {{ item.description }}
                        </p>
                    </div>
                </div>
            </a>
        </li>
    {% endfor %}
</ul>