<div class="wrap">
    <h2>
        Offres Pivot sur la catégorie <strong><a href="{{ categoryUrl }}" title="Voir sur le site">{{ category.name }}</a></strong>
    </h2>
    <div class="notice notice-info update-nag inline">
        <p>Effectuez une recherche sur le nom ou le code de l'offre</p>
    </div>
    <div id="offers-box" data-category-id="{{ catId }}">

    </div>

</div>