<div class="wrap">
    <h2 class="text-3xl">
        Filtres Pivot sur la catégorie <strong><a href="{{ categoryUrl }}" title="Voir sur le site">{{ category.name }}</a></strong>
    </h2>
    <br/>
    <a href="{{ urlAdmin }}" target="_blank">Consulter la liste des références</a>

    <br/>
    <br/>
    <div id="filters-box" data-category-id="{{ catId }}">

    </div>
</div>