<div class="wrap">
    <h2>Pivot</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/wp-admin/admin.php?page=pivot_offres">
                Le catalogue complet
            </a>
        </li>
        <li class="list-group-item">
            <a href="/wp-admin/admin.php?page=pivot_filtres">
                Les types d'offers chez Pivot
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/" target="_blank">
                Gestion des offers avec PivotGest (tourismewallonie.be)
            </a>
        </li>
        <li class="list-group-item">
            <a href="https://organismes.tourismewallonie.be/doc-pivot-gest/" target="_blank">
                Documentation de PivotGest (tourismewallonie.be)
            </a>
        </li>
    </ul>
</div>
