<div class="wrap">
    <h2>Debug de l'offre {{ offre.name }} {{ offre.codeCgt }}</h2>
    {% include '@VisitTail/admin/_specifications.html.twig' %}
    <div class="">
        {{ offre.dataRaw }}
    </div>
</div>