<div class="wrap">
    <h2>Debug de l'offre {{ offer.name }} {{ offer.codeCgt }}</h2>
    {% include '@Visit/admin/_specifications.html.twig' %}
    <div class="">
        {{ offer.dataRaw }}
    </div>
</div>
