<div>
    <div>
        <img
             src="{{ template_uri() }}/assets/tartine/img_cat01.png" alt="party"/>
        <h2>
            {{ 'different.festivities'|trans }}
        </h2>
        <div>
            <a href="/{{ locale }}/?cat=12">
                {{ 'discover_them'|trans }}
            </a>
        </div>
    </div>
</div>