<div class="text-center mt-12 bg-party">
    <div class="relative flex flex-col xl:flex-row px-8 flex-nowrap justify-evenly items-end xl:items-center mx-auto text-carto-main">
        <img class="relative -top-8 xl:-top-20 w-[40%] xl:w-[16%] place-self-start self-start"
             src="{{ template_uri() }}/assets/tartine/img_cat01.png" alt="party"/>
        <h2 class="text-lg xl:text-2xl ">
            {{ 'different.festivities'|trans }}
        </h2>
        <div class="flex justify-end">
            <a href="/{{ locale }}/?cat=12"
               class="xl:text-center flex-grow-0 my-2 p-1 xl:p-3 ml-auto rounded-full xl:text-lg border-2 border-white hover:bg-white hover:text-grey-dark">
                {{ 'discover_them'|trans }}
            </a>
        </div>
    </div>
</div>