{% if confirmNewsletter %}
    <div class="h-24 bg-cta-light text-2xl w-full text-white flex items-center justify-center" id="confirmNewsletter">
        Vous êtes bien inscrit à notre lettre d'informations
    </div>
{% endif %}