<div>
    <div>
        <h2>
            {{ 'newsletter.title'|trans }}
        </h2>
        <form method="post"
              action="/{{ language }}?#confirmNewsletter">
            <div>
                <label for="email-address">Adresse email</label>
                <input id="email-address" name="email" type="email" autocomplete="email" required
                       placeholder="Entrez votre adresse mail">
                <button type="submit">
                    Je m'abonne
                </button>
            </div>
        </form>
        <p>
            Nous prenons soin de vos données.
            <br>
            <a href="https://visitmarche.be/fr/politique-de-confidentialite"
               target="_blank">
                Lisez notre charte.
            </a>
        </p>
    </div>
    <img
         src="{{ template_uri() }}/assets/tartine/george2.png" alt="crieur"/>
</div>