  <div
    class="mr-4 mt-4 flex w-auto flex-col text-sm text-white xl:col-span-4 xl:ml-auto xl:block"
  >
    <a href="/fr/politique-de-confidentialite" class="border-b border-b-white/50">
      {{ 'private.rgpd'|trans }}
    </a>
    - Copyright © 2021 - Ville de Marche-en-Famenne. {{ 'private.right'|trans }}
  </div>