<div class="border-t border-white/10 mt-12">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-6 text-center text-sm text-gray-400">
        <a href="/fr/politique-de-confidentialite" class="hover:text-white transition-colors">
            {{ 'private.rgpd'|trans }}
        </a>
        <span class="mx-1">-</span>
        Copyright © 2026 - Ville de Marche-en-Famenne. {{ 'private.right'|trans }}
    </div>
</div>