<div class="border-l border-l-white/50 px-3">
    <h4 class="font-montserrat-semi-bold">Découvrez</h4>
    <ul class="grid grid-cols-2 text-sm leading-6">
        {% for icone in icones %}
            <li class="px2">
                <a href="{{ icone.url }}">{{ icone.name }}</a>
            </li>
        {% endfor %}
        <li class="px2">
            <a href="https://circuit-court.marche.be/" target="_blank">{{ 'local.products'|trans }}</a>
        </li>
    </ul>
</div>