<div>
    <h4>Découvrez</h4>
    <ul>
        {% for icon in icons %}
            <li>
                <a href="{{ icon.url }}">{{ icon.name }}</a>
            </li>
        {% endfor %}
        <li>
            <a href="https://circuit-court.marche.be/" target="_blank">{{ 'local.products'|trans }}</a>
        </li>
    </ul>
</div>