<div class="mx-auto xl:w-[22rem] my-4" x-show="query.length > 2">
    <span x-text="totalHits"></span> {{ 'result.name'|trans}} <span x-text="query"></span>
</div>

<ul class="pt-6 grid grid-cols-1 gap-2 xl:gap-4 xl:grid-cols-2" x-show="totalHits > 0">
    <template x-for="result in results" :key="result.id">
        <li class="rounded-lg p-2 xl:p-4 h16 shadow-md">
            <a x-bind:href="result.url" class="group flex flex-col gap-2">
                <h3 class="hover:text-cta-light font-montserrat-semi-bold" x-text="result.name"></h3>
                <span class="text-caractere" x-html="result.excerpt.slice(0,150) + '...'"></span>
            </a>
        </li>
    </template>
</ul>