{% include '@Visit/article/_header_article.html.twig' %}
{% include '@Visit/article/_cadre.html.twig' %}
<main>
    <article>
        <div>
            <h1>{{ post.post_title }}</h1>
            {% include '@Visit/article/_body.html.twig' %}
        </div>
        <aside>
            {% include '@Visit/article/_share.html.twig' %}
            {% include '@Visit/article/_tags.html.twig' %}
            {% include '@Visit/article/_see_also.html.twig' %}
        </aside>
    </article>
</main>

<div class="relative h-24 sm:h-32 lg:h-40 -mb-px overflow-hidden" aria-hidden="true">
    <svg class="absolute bottom-0 w-full h-full" viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,60 C240,120 480,0 720,60 C960,120 1200,0 1440,60 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)" opacity="0.08"/>
        <path d="M0,80 C180,40 360,100 540,70 C720,40 900,110 1080,70 C1260,30 1380,90 1440,80 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)" opacity="0.15"/>
        <path d="M0,100 C160,85 320,110 480,95 C640,80 800,115 960,95 C1120,75 1280,105 1440,100 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)"/>
    </svg>
</div>
