{% include '@Visit/article/_header_article.html.twig' %}
{% include '@Visit/article/_cadre.html.twig' %}
<main>
    <article>
        <div>
            <h1>{{ post.post_title }}</h1>
            {% include '@Visit/article/_body.html.twig' %}
        </div>
        <aside>
            {% include '@Visit/article/_share.html.twig' %}
            {% include '@Visit/article/_tags.html.twig' %}
            {% include '@Visit/article/_see_also.html.twig' %}
        </aside>
    </article>
</main>
{% include '@Visit/footer/_wave.html.twig' %}
