{% include '@VisitTail/article/_header_article.html.twig' %}
{% include '@VisitTail/article/_cadre.html.twig' %}
<main class="container px-4 mt-2 xl:mt-4 mx-auto mb-8"
      x-data="refreshOffres" x-init="initOffres({{ category.cat_ID }},'{{ locale }}')">
    {% include '@VisitTail/category/_filtres.html.twig' %}
    {% if countArticles > 0 %}
        {% if filterSelected == null %}
            {% include '@VisitTail/category/_offres_alpine.html.twig' %}
        {% endif %}
        {% if filterSelected == null %} <noscript>  {% endif %}
        {% include '@VisitTail/category/_offres.html.twig' %}
        {% if filterSelected == null %}  </noscript> {% endif %}
    {% else %}
        {% if children|length == 0 %}
            <p class="px-4 mt-2">Aucun article trouvé</p>
        {% endif %}
    {% endif %}
</main>