{% include '@Visit/article/_header_article.html.twig' %}
{% include '@Visit/article/_cadre.html.twig' %}
<main class="container px-4 mt-2 xl:mt-4 mx-auto mb-8"
      x-data="refreshOffres" x-init="initOffres({{ category.cat_ID }},'{{ locale }}')">
    {% include '@Visit/category/_filtres.html.twig' %}
    {% if countArticles > 0 %}
        {% include '@Visit/category/_offres.html.twig' %}
    {% endif %}
</main>
