{% include '@Visit/article/_header_article.html.twig' %}
{% include '@Visit/article/_cadre.html.twig' %}
<script id="category-offers-data" type="application/json">{{ offersJson|raw }}</script>
<main
      x-data="categoryFilter({{ parentCategoryId }})">
    {% include '@Visit/category/_filters.html.twig' %}
    {% include '@Visit/category/_items.html.twig' %}
</main>
