<main>
    <div>
        <div>
            <div>
                {% include '@Visit/homepage/_search_home.html.twig' %}
                {% include '@Visit/homepage/_icons_home.html.twig' %}
            </div>
        </div>
    </div>
    <div>
        {% include '@Visit/homepage/_home_caractere.html.twig' %}
        <section>
            <div>
                {% include '@Visit/homepage/_inspiration.html.twig' %}
            </div>
            <div>
                {% include '@Visit/homepage/_agenda.html.twig' %}
            </div>
            <div>
                {% include '@Visit/homepage/_ideas.html.twig' %}
            </div>
        </section>
    </div>
    {% include '@Visit/homepage/_banner_party.html.twig' %}
</main>
{% include '@Visit/homepage/_partenaires.html.twig' %}
