<section id="content">
    {% include '@Visit/article/_header_article.html.twig' %}
    {% include '@Visit/article/_excerpt.html.twig' %}
    <main class="container mx-auto">
        <article class="grid grid-cols-1 xl:grid-cols-[60%,40%] items-start mt-2 xl:mt-4 mx-auto px-4">
            <div class="p-2 xl:p-4">
                <h1 class="relative inline-block pb-3 mb-4 font-montserrat text-2xl xl:text-4xl font-bold tracking-tight text-carto-main">
                    {{ offer.nom }}
                    <span class="absolute bottom-0 left-0 h-1 w-16 rounded-full bg-cta-light" aria-hidden="true"></span>
                </h1>
                {% include '@Visit/offer/_dates.html.twig' %}
                {% include '@Visit/offer/_address_contact.html.twig' %}
                {% include '@Visit/offer/_descriptions.html.twig' %}
                {% include '@Visit/offer/_specifications.html.twig' %}
            </div>
            <aside class="p-2 xl:p-4 xl:sticky xl:top-4">
                {% include '@Visit/article/_share.html.twig' %}
                {% include '@Visit/article/_tags.html.twig' %}
            </aside>
            <div class="col-span-full mt-4">
                {% include '@Visit/offer/_images.html.twig' %}
            </div>
            <div class="col-span-full">
                {% include '@Visit/article/_see_also.html.twig' %}
            </div>
        </article>
    </main>
</section>

{% include '@Visit/footer/_wave.html.twig' %}