<section id="content">
    {% include '@Visit/article/_header_article.html.twig' %}
    {% include '@Visit/article/_excerpt.html.twig' %}
    <main class="container mx-auto">
        <article class="grid grid-cols-1 xl:grid-cols-[60%,40%] items-start mt-2 xl:mt-4 mx-auto px-4">
            <div class="p-2 xl:p-4">
                <h1 class="relative inline-block pb-3 mb-4 font-montserrat text-2xl xl:text-4xl font-bold tracking-tight text-carto-main">
                    {{ offer.nom }}
                    <span class="absolute bottom-0 left-0 h-1 w-16 rounded-full bg-cta-light" aria-hidden="true"></span>
                </h1>
                {% include '@Visit/offer/_dates.html.twig' %}
                {% include '@Visit/offer/_address_contact.html.twig' %}
                {% include '@Visit/offer/_descriptions.html.twig' %}
                {% include '@Visit/offer/_specifications.html.twig' %}
            </div>
            <aside class="p-2 xl:p-4 xl:sticky xl:top-4">
                {% include '@Visit/article/_share.html.twig' %}
                {% include '@Visit/article/_tags.html.twig' %}
            </aside>
            <div class="col-span-full mt-4">
                {% include '@Visit/offer/_images.html.twig' %}
            </div>
            <div class="col-span-full">
                {% include '@Visit/article/_see_also.html.twig' %}
            </div>
        </article>
    </main>
</section>

<div class="relative h-24 sm:h-32 lg:h-40 -mb-px overflow-hidden" aria-hidden="true">
    <svg class="absolute bottom-0 w-full h-full" viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0,60 C240,120 480,0 720,60 C960,120 1200,0 1440,60 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)" opacity="0.08"/>
        <path d="M0,80 C180,40 360,100 540,70 C720,40 900,110 1080,70 C1260,30 1380,90 1440,80 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)" opacity="0.15"/>
        <path d="M0,100 C160,85 320,110 480,95 C640,80 800,115 960,95 C1120,75 1280,105 1440,100 L1440,120 L0,120 Z"
              fill="var(--color-carto-main)"/>
    </svg>
</div>
