{% include '@Visit/article/_header_article.html.twig' %}
{% include '@Visit/article/_cadre.html.twig' %}
<main>
    <article>
        <div>
            <h1>{{ offer.nom }}</h1>
            {% include '@Visit/offer/_dates.html.twig' %}
            {% include '@Visit/offer/_address_contact.html.twig' %}
            {% include '@Visit/offer/_descriptions.html.twig' %}
            {% include '@Visit/offer/_specifications.html.twig' %}
            {% include '@Visit/offer/_gpx_details.html.twig' %}
        </div>
        <aside>
            {% include '@Visit/article/_share.html.twig' %}
            {% include '@Visit/article/_tags.html.twig' %}
            {% include '@Visit/article/_see_also.html.twig' %}
        </aside>
    </article>
    {% include '@Visit/offer/_images.html.twig' %}
</main>
