{% include '@Visit/article/_header_article.html.twig' %}
<main class="container px-4 mt-2 xl:mt-4 mx-auto mb-8 min-h-80"
      x-data="searchXl">
    <form class="mx-auto xl:mx-80 flex flex-col justify-end" action="/{{ locale }}/">
        <label for="search" class="sr-only">
            {{ 'search.name'|trans }}
        </label>
        <div class="relative flex">
            <div class="grow-0 pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                     fill="currentColor"
                     aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                          clip-rule="evenodd"/>
                </svg>
            </div>
            <input id="search"
                        x-model="query"
                        @input.debounce.250="launchSearch()"
                   name="search"
                   class="grow block w-full rounded-md border border-gray-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-cta-dark focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-cta-dark sm:text-sm"
                   placeholder="{{ 'search.name'|trans }}" type="search">
        </div>
        <button type="submit" name="submit"
                class="p-4 m-4 grow-0 border border-cta-dark rounded-md self-end hover:bg-cta-light hover:text-white">
            {{ 'search.name'|trans }}
        </button>
    </form>

    {% include '@Visit/search/_results_noscript.html.twig' %}

</main>
