{% if excerpt is defined and excerpt != '' %}
    <div class="{{ bgCat ?? 'bg-party' }} w-full">
        <div class="relative flex flex-col p-4 xl:flex-row flex-wrap z-10 xl:h-36 items-center xl:justify-center mx-auto">
      <span class="text-lg xl:text-xl text-caractere font-semibold">
          {{ excerpt|raw }}
      </span>
            {% if icon %}
                <img src="{{ icon }}" alt=""
                     class="h-40 xl:absolute xl:top-0 xl:bottom-0 xl:right-12 xl:h-52 ">
            {% endif %}
        </div>
    </div>
{% endif %}
