<div class="grid grid-cols-1 xl:grid-cols-[20rem_1fr] gap-2">
    {% for classement in offer.classements %}
        {% if classement.data|pivot_check_display %}
            <span class="font-montserrat-semi-bold text-cta-dark">
                {{ classement.urnDefinition.labelByLanguage(locale) }}
            </span>
            <span class="text-caractere">{{ classement.data|format_pivot_value }}</span>
        {% endif %}
    {% endfor %}
</div>
