{% if excerpt is defined and excerpt != '' %}
    <div>
      <span>
          {{ excerpt|raw }}
      </span>
        {% if icon %}
            <img src="{{ icon }}" alt="">
        {% endif %}
    </div>
{% endif %}
