<ul class="flex flex-wrap gap-2 mt-4">
    {% for item in tags %}
        <li class="text-sm whitespace-nowrap flex items-center border border-caractere text-caractere transition-all duration-500 ease-in-out hover:bg-cta-light hover:text-white">
            <a href="/" class="px-2 py-2">{{ item.name }}</a>
        </li>
    {% endfor %}
</ul>
